<h1>Stranger Desserts</h1>

<% @cocktails.each do |cocktail| %>
    <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
<% end %>

<div><h4><%= link_to "Create a Stranger Dessert", new_cocktail_path %></h4></div>


